* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 30px;
    font-size: 1.5rem;
    cursor: pointer;
}

header {
    padding: 50px;
    background-size: cover;
}

.containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.columns {
    flex: 1;
}

.fb-images {
    width: 100%;
    height: 85%;
    object-fit: contain;
    cursor: pointer;
}

/* break point for tablet */
@media screen and (max-width: 900px) {
    .columns {
        min-width: 50%;
    }

    .column-10 {
        min-width: 50%;
    }
}

/* break for mobile */
@media screen and (max-width: 500px) {
    .columns {
        min-width: 100%;
    }

    .column-10 {
        min-width: 100%;
    }
}

#logo-container {
    display: flex;
    justify-content: center;
}

#logo {
    width: 75px;
    margin-bottom: 50px;
    cursor: pointer;
}
