* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 20;
    font-size: 3.5rem;
    cursor: pointer;
}

header {
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 200px;
    background-size: cover;
}

.containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.columns {
    flex: 1;
}

/* .titles {
    width: 100%;
    height: auto;
}

.fb-images {
    width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
} */

/* break point for tablet */
@media screen and (max-width: 900px) {
    .columns {
        min-width: 50%;
    }

    h1 {
        font-size: 2.5rem;
    }
}

/* break for mobile */
@media screen and (max-width: 500px) {
    .columns {
        min-width: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }
}

#logo-container {
    display: flex;
    justify-content: center;
}

#logo {
    width: 75px;
    margin-bottom: 50px;
    cursor: pointer;
}
